<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grewon.dronedin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.DroneDinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".changepassword.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".earnings.EarningsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".milestone.MilestoneRejectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".milestone.MilestoneCompletionRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentsummary.PaymentSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".offers.CrateOffersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientprofile.ClientProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".review.SubmitReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotprofile.PilotProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".postjob.PostJobActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".milestone.MilestoneDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".milestone.SubmitMilestoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotactivejobs.PilotActiveJobsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotjobhistory.PilotHistoryDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.history.ClientJobHistoryDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.active.ClientActiveJobsDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.clientoffers.ClientOffersDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.clientoffers.ClientOffersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.posted.ClientProposalDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.posted.ClientProposalsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".review.ReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addcard.AddCardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addprofile.AddMoreProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addbank.AddBankAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentmethod.PaymentMethodActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".submitproposal.SubmitProposalActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotjobhistory.PilotJobHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotactivejobs.PilotActiveJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".proposals.ProposalsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invitations.InvitationsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".offers.OffersDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pilotfindjobs.FindJobsDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filter.FilterResultActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filter.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientjobs.posted.PostedJobDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignUpTypeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addprofile.AddProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DropDownAppTheme" />
        <activity
            android:name=".verification.VerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTextInputLayoutAppearance" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.WebActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".mapscreen.MapScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapscreen.JobsMapScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>